<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_curriculo.css" rel="stylesheet" type="text/css">
   <title>Formulário para alteração de currículo</title>
</head>
<body>
   <h1>Formulário de alteração de curriculo</h1>
   <hr/>
   <form action="/alterar" method="post">
       <table>
           <tr>
               <td>Nome Completo:</td>
               <td><input type="text" name="nome" size="20" maxlength="20" required/></td>
           </tr>
           <tr>
               <td>Data de Nascimento:</td>
               <td><input type="date" name="dta_nasc" required></td>
           </tr>
           <tr>
               <td>Linguagens de Programação:</td>
               <td><textarea rows="5" cols="50" name="ling_prog"></textarea></td>
           </tr>
           <tr>
               <td>Instituição de Ensino:</td>
               <td><input type="text" name="inst_ensino" size="20" maxlength="20" required/></td>
           </tr>
           <tr>
               <td>Nome do Curso:</td>
               <td><input type="text" name="curso" size="20" maxlength="20" required/></td>
           </tr>
           <tr>
               <td>Semestre:</td>
               <td>
                   <input type="number" name="semestre" size="3" min="1" max="999" >
               </td>
           </tr>
           <tr>
               <td>Celular:</td>
               <td><input type="text" name="celular" size="15" maxlength="15" required/></td>
           </tr>
           <tr>
               <td>Email:</td>
               <td><input type="text" name="email" size="20" maxlength="20" required/></td>
           </tr>
       </table>
       <br/>
       <input type="hidden" name="nome" value="{{ nome }}"/>
       <input type="submit" value="Alterar Currículo"/>
   </form>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
   <a href="/paralterar"> Alterar outro currículo </a>
</body>
</html>