<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_curriculo.css" rel="stylesheet" type="text/css">
   <title>CRUD para a Tabela de Currículo</title>
</head>
<body>
   <h1>Cadastro de Curso - CRUD</h1>
   <hr/>
   <ul>
       <li><a href="/formIncluir">C - CREATE (Incluir Currículo)</a></li>
       <li><a href="/parConsultar">R - READ (Consultar Currículo)</a></li>
       <li><a href="/parAlterar">U - UPDATE (Alterar Currículo)</a></li>
       <li><a href="/parExcluir">D - DELETE (Excluir Currículo)</a></li>
   </ul>
</body>
</html>